main {}

.container {}




.visual_section {
    position: relative;
    height: 200vh;
}

.visual_section .visual_inner {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, 0);
}

.visual_section .visual_inner .visual_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: var(--visual-line-top-fix) var(--visual-line-side-fix) 0;
    clip-path: inset(var(--visual-line-top) var(--visual-line-side) var(--visual-line-side) var(--visual-line-side) round var(--border-radius));
}

.visual_section .visual_inner .visual_overlay video {
    width: 120%;
    height: 120%;
    object-fit: contain;
    object-position: 65% center;
}

.visual_section .section_header {
    position: absolute;
    top: calc(var(--visual-line-top) - 2px);
    left: calc(var(--visual-line-side) - 2px);
    z-index: 2;
    padding-right: 50px;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 0 0 var(--border-radius) 0;
    transform: translate3d(var(--visual-line-progress), var(--visual-line-progress), 0);
    border-left: 2px solid #fff;
    border-top: 2px;
    box-sizing: content-box;
    background: #ccc;
}

.section_header h2 {
    overflow: hidden;
    font-size: 60px;
    font-weight: 700;
    color: #111;
    line-height: 1.5;
}


.cell-visual {
    position: sticky;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    width: 500px;
    height: 500px;
    background: #ccc;
}





/* business section */

.business_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100vh;
    padding-top: 450px;
    z-index: unset;
}

.business_section .section_header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 6;
    margin-bottom: 210px;
}

.container .business_section .section_header .title {
    font-size: 140px;
    font-weight: 600;
    color: #111;
    line-height: 1;
    letter-spacing: -.5px;
}

.business_section .text {
    width: 31.25rem;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #111;
    line-height: 1.42;
}



.business_section article {
    position: relative;
    width: 100%;
    height: 200vh;

}

.business_section article .sticky {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business_section .inwrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 100px var(--side-padding) 40px;
}

.subsection_header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 760px;

}

.subsection_header .title-wrap {}

.subsection_header .title-wrap .num {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #111;
    line-height: 1.42;
}

.subsection_header .title-wrap .title {
    font-size: min(160px, 8vw);
    font-weight: 700;
    color: #111;
    line-height: 1.2;
}

.subsection_header .title-wrap .subtitle {
    display: block;
    margin-top: 24px;
    font-size: 32px;
    font-weight: 500;
    color: #999;
    line-height: 1;
    letter-spacing: -.06px;
}

.subsection_header .text-wrap {}














.slider {
    position: relative;
    --slide-width: max(56vh, 600px);
    width: calc(var(--slide-width) + 90px);
    margin-top: -80px;
    margin-right: -88px;
    padding-top: 80px;
}

.slider .first-swiper {
    width: var(--slide-width);
    height: 800px;
}

.slider .first-swiper .swiper-wrapper {}

.slider .first-swiper .swiper-slide:nth-child(1) {
    background: rgb(241, 182, 182);
}

.slider .first-swiper .swiper-slide:nth-child(2) {
    background: rgb(31, 184, 100);
}

.slider .first-swiper .swiper-slide:nth-child(3) {
    background: rgb(37, 88, 189);
}

.slider .first-swiper .swiper-slide {
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.first-swiper .slide-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 64px 60px 60px;
}

.first-swiper .slide-link .category {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: rgba(255, 255, 255, .6);
}

.first-swiper .slide-link .category strong {
    margin-right: 10px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}

.first-swiper .slide-link .description {}

.first-swiper .slide-link .description .num {
    display: block;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 1.42;
    letter-spacing: -.05px;
}

.first-swiper .slide-link .description .text {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    line-height: 1.38;
    letter-spacing: -.06px;
}

.first-swiper .slide-link .image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.first-swiper .slide-link .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.swiper_btn--wrapper {
    position: absolute;
    top: -0px;
    right: 50px;
    width: 180px;
    height: 80px;
}


.swiper_btn--wrapper .btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    background: #ccc;
}

.swiper_btn--wrapper .btn.next {
    background: url(/assets/img/next-arrow.svg) no-repeat 45% center / 24px;
}

.swiper_btn--wrapper .btn.prev {
    background: url(/assets/img/prev-arrow.svg) no-repeat 45% center / 24px;
}








/* products section */

.products_section{
    position: relative;
    height: 200vh;
}
.products_section .inwrap{
    display: flex;
    flex-direction: column;
    padding: var(--updown-padding) var(--side-padding);
}
.products_section .section_header{ margin-bottom: 56px; }
.products_section .slider{
    position: relative;
    z-index: 2;
    width: calc(100% + var(--side-padding));
    margin-top: 20px;
}
.products_section .swiper-container-wrapper {
    position: relative;
    width: 100%;
}




.products_section .left-tab-swiper {
    height: 395px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -197px;
}
.left-tab-swiper .swiper-wrapper{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.left-tab-swiper .swiper-wrapper .swiper-slide{
    width: 240px;
    height: auto;
    padding: 12px 24px 12px 28px;
    margin: 0 0 6px;
    border-radius: 10px;
    /* background-color: transparent; */
    font-size: 18px;
    font-weight: 700;
    color: #999;
    line-height: 1.4;
    text-align: left;
    opacity: 1;
    transition: color .3s;
    white-space: nowrap;
}
.left-tab-swiper .swiper-wrapper .swiper-slide .left-slide--btn{
    display: flex;
    align-items: center;
}
.left-tab-swiper .swiper-wrapper .swiper-slide .left-slide--btn p{
    margin-left: 20px;
}
.left-tab-swiper .swiper-wrapper .swiper-slide .left-slide--btn::before{
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    content: "";
    
}
.left-tab-swiper .swiper-slide-thumb-active .left-slide--btn::before{
    background: #a478ff !important;
    
}
#pd_slider .left-swiper--btn{
    position: absolute;
    left: 50px;
    width: 32px;  
    height: 32px;
    background: url(/assets/img/down-arrow.png) no-repeat 55% center / 100%;
}

#pd_slider .left-swiper--btn.prev.swiper-button-prev{
    top: 10px !important;
    transform: rotate(180deg);
}
#pd_slider .left-swiper--btn.next.swiper-button-next{
    top: 650px !important;
}

.left-tab-swiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active{
    background: #f8f8f8;
    color: #111;
}



.products_section .right-content-swiper {
   width: 80%;
   margin: 0 0 0 auto;
   display: block;
   position: relative;
   z-index: 1;
   perspective: 1200px;
   touch-action: pan-y;
}
.right-content-swiper .swiper-wrapper{
}

.right-content-swiper .swiper-wrapper .swiper-slide{
    display: flex;
    font-size: 24px;
    width: 480px;
    height: 100%;
}
.right-content-swiper .swiper-wrapper .swiper-slide .right-slide--link{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 40px 40px 48px;
    border-radius: var(--border-radius);
    background: #f8f8f8;
    overflow: hidden;
    z-index: 2;
}

.right-slide--link .pd_name{
    position: relative;
    font-size: 32px;
    font-weight: 600;
    color: #111;
    line-height: 1.38;
    letter-spacing: -.06px;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
}
.right-slide--link .pd_img{
    position: relative;
    width: 100%;
}
.right-slide--link .pd_img .pd_img-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    clip-path: circle(15%);
    transition: clip-path .8s cubic-bezier(.39,.575,.565,1);
    /* background: transparent; */
    background: #f8f8f8;

    display: flex;
    align-items: center;
    justify-content: center;
}
.right-slide--link:hover .pd_img .pd_img-mask{
    animation: clip-path 1s ease;
}
.right-slide--link .pd_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.right-slide--link .pd_desc{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #111;
    line-height: 1.5;
    letter-spacing: -.02px;
    text-align: center;
}





/* global section */
.global_section{
    position: relative;
    height: 200vh;
}
.global_section .sticky{ padding: 160px 88px; }
.global_section .section_header .title{ color: #fff; }
.global_section .text-wrap .text{ color: #fff; }
.global_section .btn_more{ color: #fff; }
.global_bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: url(/assets/img/global_bg.webp) no-repeat center / cover;
}

/* magazine section */
.magazine_section{
    position: relative;
    height: 400vh;
    border: 2px solid #000;
}
.magazine_section .sticky{ padding: 160px 88px; }
.magazine_section .card-list{
    position: relative;
    width: 100%;
    height: 45vh;
    /* min-height: 420px; */
    /* min-height: 640px; */
    margin-top: 120px;
    background: #ccc;
}
.magazine_section .card-item{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 56px;
    border-radius: var(--border-radius);
    border: solid 2px rgba(255,255,255,.5);
    /* background-color: #fff; */
    background: #888;
    transform-origin: top;
}
.magazine_section .card-item:nth-child(1){background: #000;}
.magazine_section .card-item:nth-child(2){background: rgb(124, 67, 67);}
.magazine_section .card-item:nth-child(3){background: rgb(59, 59, 109);}
.magazine_section .card-item .card-link{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}
.card-img--block{
    overflow: hidden;
    min-width: 46%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: #000;
    
}
.card-img--block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text--block{
    margin-top: 55px;
}
.card-text--block .card-tit{
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #111;
    line-height: 1.38;
    letter-spacing: -.06px;
}
.card-text--block .card-subtit{
    margin-top: 26px;
    font-size: 20px;
    font-weight: 500;
    color: #666;
    line-height: 1.7;
    letter-spacing: -.02px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 6em;
    line-height: 1.5;
    white-space: normal;
}











@keyframes clip-path {
    0%{
        clip-path: circle(100%);
    }
    100%{
        clip-path: circle(0%);
    }
}