main {}
#mainPage{ display: block; }
#aboutPage{display: none;}
.container { position: relative; }

#tab03{ display: none; }


.visual_section {
    position: relative;
    height: 100vh;
}

.visual_section .visual_inner {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 90vw;
    height: 100vh;
    transform: translate(-50%, 0);
    border-radius: 50px;
    background: #888;
}

.visual_section .visual_inner .visual_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: var(--visual-line-top-fix) var(--visual-line-side-fix) 0;
    clip-path: inset(var(--visual-line-top) var(--visual-line-side) var(--visual-line-side) var(--visual-line-side) round var(--border-radius));
}

.visual_section .visual_inner .visual_overlay video {
    width: 120%;
    height: 120%;
    object-fit: contain;
    object-position: 65% center;
}

.visual_section .section_header {
    position: absolute;
    top: calc(var(--visual-line-top) - 2px);
    left: calc(var(--visual-line-side) - 2px);
    z-index: 2;
    padding-right: 50px;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 0 0 var(--border-radius) 0;
    transform: translate3d(var(--visual-line-progress), var(--visual-line-progress), 0);
    border-left: 2px solid #fff;
    border-top: 2px;
    box-sizing: content-box;
    background: #ccc;
}

.section_header h2 {
    font-size: 60px;
    font-weight: 700;
    color: #111;
    line-height: 1.5;
    overflow: hidden;
}

/* cell */
.cell-visual {
    z-index: 0;
    border-radius: 50%;
    background: #ccc;
}

.visual_section .cell-visual {
    position: sticky;
    top: 10%;
    left: 15%;
    width: 500px;
    height: 500px;
    z-index: 1;
}

.business_section .cell-visual {
    display: none;
    position: sticky;
    top: 10%;
    left: 15%;
    width: 500px;
    height: 500px;
}




/* business section */

.business_section { }

.business_section .business_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -20vh; */
    padding-top: 450px;
    z-index: unset;
    height: 100%;

}

.business_section .section_header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 6;
    margin-bottom: 210px;
}

.container .business_section .section_header .title {
    font-size: 140px;
    font-weight: 600;
    color: #111;
    line-height: 1;
    letter-spacing: -.5px;
}

.business_section .text {
    width: 31.25rem;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #111;
    line-height: 1.42;
}



.business_section article {
    position: relative;
    width: 100%;
    height: 200vh;

}

.business_section article .sticky {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business_section .inwrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 100px var(--side-padding) 40px;
}

.subsection_header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-width: 760px; */

}

.subsection_header .title-wrap {}

.subsection_header .title-wrap .num {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #111;
    line-height: 1.42;
}

.subsection_header .title-wrap .title {
    font-size: min(160px, 8vw);
    font-weight: 700;
    color: #111;
    line-height: 1.2;
}

.subsection_header .title-wrap .subtitle {
    display: block;
    margin-top: 24px;
    font-size: 32px;
    font-weight: 500;
    color: #999;
    line-height: 1;
    letter-spacing: -.06px;
}

.subsection_header .text-wrap {}

.slider {
    position: relative;
    --slide-width: max(66vh, 600px);
    /* width: calc(var(--slide-width) + 90px); */
    margin-top: -80px;
    margin-right: -88px;
    padding-top: 80px;
}

.slider .first-swiper {
    width: var(--slide-width);
    height: 800px;
}

.slider .first-swiper .swiper-wrapper {}

.slider .first-swiper .swiper-slide {
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.first-swiper .slide-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 64px 60px 60px;
}

.first-swiper .slide-link .category {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: rgba(255, 255, 255, .6);
}

.first-swiper .slide-link .category strong {
    margin-right: 10px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}

.first-swiper .slide-link .description {}

.first-swiper .slide-link .description .num {
    display: block;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    line-height: 1.42;
    letter-spacing: -.05px;
}

.first-swiper .slide-link .description .text {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    line-height: 1.38;
    letter-spacing: -.06px;
}

.first-swiper .slide-link .image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.first-swiper .slide-link .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.swiper_btn--wrapper {
    position: absolute;
    top: -0px;
    right: 90px;
    width: 180px;
    height: 80px;
}


.swiper_btn--wrapper .btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    background: #ccc;
}

.swiper_btn--wrapper .btn.next {
    background: url(/assets/img/next-arrow.svg) no-repeat 45% center / 24px;
}

.swiper_btn--wrapper .btn.prev {
    background: url(/assets/img/prev-arrow.svg) no-repeat 45% center / 24px;
}








/* products section */

.products_section {
    position: relative;
    height: 200vh;
}
.products_section .sticky{
    top: 100px !important;
}
.products_section .inwrap {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-top: 6rem;
}

.products_section .section_header { }

.products_section .slider {
    position: relative;
    z-index: 2;
    width: calc(100% + var(--side-padding));
    margin-top: 20px;
}

.products_section .swiper-container-wrapper {
    position: relative;
    width: 100%;
}




.products_section .left-tab-swiper {
    height: 395px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -197px;
}

.left-tab-swiper .swiper-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.left-tab-swiper .swiper-wrapper .swiper-slide {
    width: 240px;
    height: auto;
    padding: 12px 24px 12px 28px;
    margin: 0 0 6px;
    border-radius: 10px;
    /* background-color: transparent; */
    font-size: 18px;
    font-weight: 700;
    color: #999;
    line-height: 1.4;
    text-align: left;
    opacity: 1;
    transition: color .3s;
    white-space: nowrap;
}

.left-tab-swiper .swiper-wrapper .swiper-slide .left-slide--btn {
    display: flex;
    align-items: center;
}

.left-tab-swiper .swiper-wrapper .swiper-slide .left-slide--btn p {
    margin-left: 20px;
}

.left-tab-swiper .swiper-wrapper .swiper-slide .left-slide--btn::before {
    position: absolute;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    content: "";

}

.left-tab-swiper .swiper-slide-thumb-active .left-slide--btn::before {
    background: #a478ff !important;

}

#pd_slider {
    width: 100%;
}

#pd_slider .left-swiper--btn {
    position: absolute;
    left: 50px;
    width: 32px;
    height: 32px;
    background: url(/assets/img/down-arrow.png) no-repeat 55% center / 100%;
}

#pd_slider .left-swiper--btn.prev.swiper-button-prev {
    top: 10px !important;
    transform: rotate(180deg);
}

#pd_slider .left-swiper--btn.next.swiper-button-next {
    top: 650px !important;
}

.left-tab-swiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
    background: #f8f8f8;
    color: #111;
}



.products_section .right-content-swiper {
    width: 80%;
    margin: 0 0 0 auto;
    display: block;
    position: relative;
    z-index: 1;
    perspective: 1200px;
    touch-action: pan-y;
}

.right-content-swiper .swiper-wrapper {}

.right-content-swiper .swiper-wrapper .swiper-slide {
    --bg-color: #f8f8f8;
    width: min(32%, 35vh);
    min-width: 280px;
    height: auto;
    aspect-ratio: 1/1.2765;
    transform-origin: left;
}

.right-content-swiper .swiper-wrapper .swiper-slide .right-slide--link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 40px 40px 48px;
    border-radius: var(--border-radius);
    background: #f8f8f8;
    overflow: hidden;
    z-index: 2;
}

.right-slide--link .pd_name {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    color: #111;
    line-height: 1.38;
    letter-spacing: -.06px;
    text-align: center;
    white-space: nowrap;
    z-index: 2;
}

.right-slide--link .pd_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    clip-path: circle(25%);
    transition: clip-path .8s cubic-bezier(.39, .575, .565, 1);
    background-color: var(--bg-color);
}

.right-slide--link .pd_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-slide--link .pd_desc {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #111;
    line-height: 1.5;
    letter-spacing: -.02px;
    text-align: center;
}

.right-content-swiper .swiper-wrapper .swiper-slide:hover .right-slide--link .pd_img {
    clip-path: circle(100%);
}

.right-content-swiper .swiper-wrapper .swiper-slide:hover .btn-point span:nth-child(2) {
    transform: scale(1);
}

.btn-point {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 2;
}

.btn-point span:nth-child(1) {
    position: absolute;
    bottom: -70px;
    right: -70px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50% 0 0 0;
    transition: bottom .7s cubic-bezier(.785, .135, .15, .86), right .7s cubic-bezier(.785, .135, .15, .86), transform .3s;
}

.btn-point span:nth-child(1)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -40px;
    width: 40px;
    height: 40px;
    border-right: 1px solid #fff;
    box-sizing: content-box;
    background: radial-gradient(circle at 0 0, transparent 71%, #fff 70%);
}

.btn-point span:nth-child(1)::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid #fff;
    box-sizing: content-box;
    background: radial-gradient(circle at 0 0, transparent 71%, #fff 70%);
}

.btn-point span:nth-child(2) {
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    transform: scale(0);
    transform-origin: right bottom;
    transition: transform .6s cubic-bezier(.785, .135, .15, .86);
}

.btn-point span:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #000;
}

.btn-point span:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/point_img.svg) no-repeat center;
}


.pd_tab--list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    padding-right: 100px;
}

.pd_tab--list .pd_tab--item {
    padding: 10px 20px;
    border-bottom: 2px solid #000;
}






/* global section */
.global_section {
    position: relative;
    height: 200vh;
}

.global_section .sticky {
    padding: 160px 88px;
}

.global_section .section_header .title {
    color: #fff;
}

.global_section .text-wrap .text {
    color: #fff;
}

.global_section .btn_more {
    color: #fff;
}

.global_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: url(/assets/img/global_bg.webp) no-repeat center / cover;
}

/* magazine section */
.magazine_section {
    position: relative;
    height: 400vh;
}

.magazine_section .sticky {
    padding: 160px 88px;
}

.magazine_section .sticky .mg_bg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(to bottom, #dbf0f0, #eff7f5 50%, transparent 60%);
    transition: transform 1s cubic-bezier(.39, .575, .565, 1);
    z-index: -2;
}

.magazine_section .section_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.magazine_section .card-list {
    position: relative;
    width: 100%;
    height: 45vh;
    min-height: 420px;
    min-height: 640px;
    margin-top: 120px;
}

.magazine_section .card-item {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 50px;
    padding: 56px;
    border-radius: var(--border-radius);
    border: solid 2px rgba(255, 255, 255, .5);
    /* background-color: #fff; */
    background: #f4f4f4;
    transform-origin: top;
}

.magazine_section .card-item:nth-child(1) {
    z-index: 3;
}

.magazine_section .card-item:nth-child(2) {
    z-index: 2;
}

.magazine_section .card-item:nth-child(3) {
    z-index: 1;
}

.magazine_section .card-item .card-link {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}

.card-img--block {
    overflow: hidden;
    min-width: 46%;
    height: 100%;
    border-radius: var(--border-radius);
}

.card-img--block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text--block {
    margin-top: 55px;
}

.card-text--block .card-tit {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #111;
    line-height: 1.38;
    letter-spacing: -.06px;
}

.card-text--block .card-subtit {
    margin-top: 26px;
    font-size: 20px;
    font-weight: 500;
    color: #666;
    line-height: 1.7;
    letter-spacing: -.02px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
    white-space: normal;
}







/* news_section css */

.news_section {
    position: relative;
    height: 100vh;
    padding-bottom: 260px;
}

.news_section .inwrap {
    max-width: 2560px;
    padding: var(--updown-padding) var(--side-padding);
    height: 100%;
    margin: 0 auto;
}

.news_section .tab_list--block {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 40px;

}

.news_section .section_header {
    margin-bottom: 100px;
}

.news_section .tab_list--block .tab--btn {
    display: block;
    position: relative;
    padding: 16px 8px;
    font-size: 20px;
    font-weight: 700;
    color: #666;
    line-height: 1.5;
    transition: color .3s;
}

.news_section .tab_list--block .tab--btn.active::after {
    width: 100%;
}

.news_section .tab_list--block .tab--btn::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #111;
    transition: all .5s;
}

.news_section .tab_list--block .tab--btn.active {
    color: #000;
}

.news_section .swiper {
    display: none;
}

.news_section .swiper.active {
    display: block;
    animation: opacity .5s ease;
}

.news_section .swiper-wrapper {}

.news_section .swiper-slide {
    overflow: hidden;
    border-radius: 20px;
    background-color: #f4f4f4;
    width: calc(33% - 13.33px);
    max-width: 600px;
    min-width: 400px;
}

.news_section .swiper-slide .news--link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
}

.news_section .swiper-slide .news--link .news_card--tit {
    padding-bottom: 20px;
    display: block;
    width: 80%;
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 600;
    color: #111;
    line-height: 1.4;
    letter-spacing: -.06px;
    transition: color .5s;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 4.2em;
    white-space: normal;

}

.news_section .swiper-slide .news--link .news_card--subtit {
    font-size: 16px;
    font-weight: 500;
    color: #999;
    line-height: 1.5;
    letter-spacing: -.02px;
    transition: color .5s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3em;
    white-space: normal;
}

.news_section .swiper-slide .news--link .news_card_bot--block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px 0 0 0;
    border-top: 1px solid #ccc;
}

.news_section .swiper-slide .news--link .news_card_bot--block .num {
    overflow: hidden;
    display: block;
    font-size: 40px;
    font-weight: 700;
    color: #111;
    line-height: 1;
    letter-spacing: -.08px;
}

.news_section .swiper-slide .news--link .news_card_bot--block .date {
    display: flex;
    flex-direction: column;
}

.news--link .news_card_bot--block .date span {
    overflow: hidden;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    line-height: 1.5;
    letter-spacing: -.01px;
    text-align: right;
}

.news_swiper--btn-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    background: #eee;
}

.news_section .btn.prev {
    background: url(/assets/img/prev-arrow.svg) no-repeat 45% center / 24px;
}

.news_section .btn.next {
    background: url(/assets/img/next-arrow.svg) no-repeat 45% center / 24px;
}


/* ///////////////// about page css ////////////////////////////////////// */

/* about section */

.about_section{
}
.about_section .section_tit--block{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 50px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.about_section .section_tit--block h2{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8125rem;
    letter-spacing: -.13px;
    color: #111;
    font-weight: 700;
    padding: 2rem 0 0 0;
}
.about_section .section_tit--block .about--tab_list{
    display: flex;
    gap: 50px;
}
.about_section .section_tit--block .about--tab_list .about--tab_item{
}
.about_section .section_tit--block .about--tab_list .about--tab_item a{
    padding: 10px;
    display: block;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: -.02px;
    color: #666;
    color: #b8b8b8;
    font-weight: 700;
}
.about_section .section_tit--block .about--tab_list .about--tab_item a.active{
    color: #000;
    border-bottom: 2px solid #000;
}


.video_section{
}
.video_section .video_inner{
    height: 100vh;
}
.video_section .video_inner .video--block{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.video_section .video_inner .video--block video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.video_section .video_inner .video--block .video_overlay{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000;
    opacity: 0.5;
}

.video_section .video_inner .video--block .video_text--block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 100;
}
.video_section .video_inner .video--block .video_text--block strong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -.08px;
    color: #fff;
    position: relative;
    word-break: keep-all;
    text-align: center;
}


/* introduce section */

.introduce_section{}
.introduce_section .intro_inner{
    display: flex;
    height: 100vh;
}
.introduce_section .intro_inner .intro_img--block{
    flex: 1;
}
.introduce_section .intro_inner .intro_img--block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introduce_section .intro_inner .intro_text--block{
    flex-shrink: 0;
    flex-basis: 45.5rem;
    width: 45.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 5rem;
    padding-right: 5em;
}
.introduce_section .intro_inner .intro_text--block p{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.42;
    letter-spacing: -.05px;
    word-break: keep-all;
    color: #20c85a;
}
.intro_text--block .intro_text--tit{
    display: block;
    margin-top: 1.25rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -.08px;
    word-break: keep-all;
}
.intro_text--block .intro_text--subtit{
    display: block;
    margin-top: 3.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: -.02px;
    word-break: keep-all;
    color: #666;
}



/* swiper_section css */

.swiper_section{}
.swiper_section .swiper_inner{
    overflow-x: hidden;
    /* padding-left: 400px; */
    padding: 100px 200px;
}
.swiper_section .swiper_tit--block{}
.swiper_section .swiper_tit--block h2{
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: -.08px;
    font-weight: 700;
    color: #111;
}


.swiper_section .swiper{
    overflow: initial;
}
.swiper_section .swiper-wrapper{
    
    padding: 50px 0;
}
.swiper_section .swiper-slide{}
.swiper_section .swiper-slide .slide-content{
    width: 100%;
    height: 600px;
    border-radius: 20px;
    padding: 100px;
    background: #ccc;
}

.swiperController{
    
}


/* history css */

.about-tab--wrapper{
    position: relative;
}


.img--block img{
    width: 100%;
}

.history_bar{
    position: absolute;
    left: 50%;
    width: 0.125rem;
    height: calc(100% - 160px);
    background-color: rgba(232,232,232,.7);
}
.history_bar .history_bar_on{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #20c85a;
}
.history_bar .history_bar_on .pointer{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #20c85a;
    border-radius: 50%;
    box-shadow: 0 12px 16px 0 rgba(32,200,90,.24);
    left: -.4rem;
    bottom: 0px;
    z-index: 2;
}
.history_bar .history_bar_on .pointer::before{
    display: block;
    position: absolute;
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: #20c85a;
    border-radius: 50%;
    left: -1rem;
    top: -1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: pin-wave 2s cubic-bezier(1,2,.66,3) infinite;
}

.tab_wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}
.tabContents{}
.year_ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13rem;
}
.year_ctn.even{
    
}
.year_ctn .year_img{
    display: flex;
    flex-direction: column;
    width: 30rem;
    align-items: center;
    opacity: .6;
    /* margin-right: auto; */
    /* margin-left: 16%; */
    transition: all .3s;
}
.year_ctn .year_img.active{
    opacity: 1;

}
.year_ctn .year_img .year_tit{
    font-size: 8.75rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.35rem;
    color: #111;
    margin-bottom: 2rem;
    text-align: center;
    transition: all .3s;
}
.year_ctn .year_img .year_tit.active{
    color: #20c85a;
}
.year_ctn .year_img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.year_ctn .year_txt{
    margin-left: 30rem;
    opacity: .6;
}
.year_ctn .year_txt.active{
    opacity: 1;
}
.year_ctn .year_txt .year_history{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.year_ctn .year_txt .year_history li{}
.year_ctn .year_txt .year_history li .date{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.02px;
    color: #b8b8b8;
}
.year_ctn .year_txt .year_history li p{
    margin-top: 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: -.05px;
    color: #111;
    word-break: keep-all;
}



/* footer css */

.footer {
    position: relative;
    padding: 50px 100px;
}

.footer .footer_inner {
    padding: 50px 100px;
    border-radius: 20px;
    background: #000;
}

.footer .footer_inner .footer_top--block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .footer_inner .footer_top--block .menu {
    display: flex;
    gap: 50px;
    color: #fff;
}

.menu .menu-tit {}

.menu .menu-tit dl {
    display: flex;
    flex-direction: column;
}

.menu .menu-tit dl dt {
    margin-bottom: 32px;
}

.menu .menu-tit dl dt a {}

.menu .menu-tit dl dd {
    margin-bottom: 20px;
    opacity: 0.5;
}

.familySite {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
}

.familySite .select_inner {
    border: 1px solid #eee;
    border-radius: 5px;
    color: #fff;
}

.familySite .select_inner .select_tit {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    border-radius: 5px;
}

.select_tit .button {
    display: block;
    position: absolute;
    right: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    line-height: 38px;
    color: #bbb;
    text-align: center;
    background-position: center;
    background-color: #111;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.9.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1.25rem' height='1.25rem' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23666666;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpath class='st0' d='M5,13l5-5l5,5'/%3E%3C/svg%3E%0A");
}

.familySite .select_inner .select_tit span {}

.select_sub--list {
    display: none;
    flex-direction: column;
    padding: 10px 20px;

}

.select_sub--list.active {
    display: block;
}

.familySite .select_inner .select_sub--list .select_sub--item {
    height: 40px;
    display: flex;
    align-items: center;
}

.familySite .select_inner .select_sub--list .select_sub--item a {
    display: block;
}


.footer_bottom--block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 140px;
    color: #fff;
}

.footer_bottom--block .footer_logo--block {
    width: 150px;
}

.footer_bottom--block .footer_logo--block a {
    display: block;
}

.footer_bottom--block .footer_logo--block a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_bottom--block .footer_bottom--menu {
    display: flex;
    gap: 20px;
}

.footer_bottom--block .footer_bottom--menu li {
    opacity: .5;
}

.footer_bottom--block .footer_bottom--menu li:nth-child(1) {
    opacity: 1;
}

.footer_bottom--block address {
    font-size: .75rem;
    letter-spacing: -.01px;
    color: #666;
}

.footer_bottom--block address span {
    display: inline;
    margin-left: 20px;
}

.footer_bottom--block address p {
    margin-top: 20px;
}

.footer_bottom--block .snsBtns {
    position: absolute;
    top: 5rem;
    right: 9rem;
    width: 100px;
    display: flex;
    gap: 10px;
}

.footer_bottom--block .snsBtns li {}

.footer_bottom--block .snsBtns a {

    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.snsBtns .naverBlogIC {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.9.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.1;fill:%23FFFFFF;enable-background:new ;%7D .st1%7Bfill:%23BBBBBB;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='18' cy='18' r='18'/%3E%3Cpath class='st1' d='M12.8,16.6c-0.3,0-0.6,0.3-0.6,0.6c0,0.3,0.3,0.6,0.6,0.6c0.3,0,0.6-0.3,0.6-0.6S13.1,16.6,12.8,16.6 C12.8,16.6,12.8,16.6,12.8,16.6'/%3E%3Cpath class='st1' d='M19,16.5c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7S19.4,16.5,19,16.5L19,16.5'/%3E%3Cpath class='st1' d='M24.7,10.3H11.3c-1.4,0-2.5,1.1-2.5,2.5c0,0,0,0,0,0v8c0,1.4,1.1,2.5,2.5,2.5H16l1.6,3.8c0,0,0.1,0.3,0.4,0.3 s0.4-0.3,0.4-0.3l1.6-3.8h4.7c1.4,0,2.5-1.1,2.5-2.5v-8C27.1,11.4,26,10.3,24.7,10.3C24.7,10.3,24.7,10.3,24.7,10.3 M14.6,17.3 c0,0.8-0.7,1.5-1.5,1.5c-0.3,0-0.7-0.1-0.9-0.4v0.3H11v-4.5c0.1,0,1.1,0,1.1,0v1.7c0.3-0.4,1-0.4,1-0.4C14,15.6,14.7,16.4,14.6,17.3 C14.6,17.3,14.6,17.3,14.6,17.3 M16.5,15.6v3.1h-1.1v-3.1c0-0.4-0.5-0.5-0.5-0.5V14c0.8-0.1,1.5,0.6,1.6,1.4 C16.5,15.5,16.5,15.6,16.5,15.6 M19,18.8c-1,0-1.8-0.7-1.8-1.7c0-1,0.8-1.7,1.8-1.7c1,0,1.8,0.7,1.8,1.7C20.8,18.1,20,18.9,19,18.8 M24.9,18.8c0,0.8-0.6,1.5-1.5,1.6c0,0-0.1,0-0.1,0h-0.5v-1h0.3c0,0,0.7,0.1,0.7-1c0,0-0.1,0.4-1.1,0.4c-0.7,0-1.3-0.7-1.3-1.4v-0.5 c0-0.8,0.7-1.4,1.5-1.5c0.4,0,0.7,0.1,0.9,0.4v-0.3h1.1L24.9,18.8z'/%3E%3Cpath class='st1' d='M23.2,16.5c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7C23.9,16.8,23.6,16.5,23.2,16.5 L23.2,16.5'/%3E%3C/svg%3E");
}

.snsBtns .instarGramIC {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.9.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.1;fill:%23FFFFFF;enable-background:new ;%7D .st1%7Bfill:%23BBBBBB;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='18' cy='18' r='18'/%3E%3Cpath class='st1' d='M26.8,14.3v7.4c0,2.8-2.3,5.1-5.1,5.1l0,0h-7.4c-2.8,0-5.1-2.3-5.1-5.1c0,0,0,0,0,0v-7.4c0-2.8,2.3-5.1,5.1-5.1 c0,0,0,0,0,0h7.4C24.5,9.2,26.8,11.5,26.8,14.3L26.8,14.3 M23.8,13.3c0-0.6-0.5-1.1-1.1-1.1c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1 c0,0,0,0,0,0C23.3,14.4,23.8,13.9,23.8,13.3C23.8,13.3,23.8,13.3,23.8,13.3 M22.6,18c0-2.5-2-4.6-4.6-4.6s-4.6,2-4.6,4.6 s2,4.6,4.6,4.6l0,0C20.5,22.6,22.6,20.6,22.6,18'/%3E%3Cpath class='st1' d='M18,15.1c1.6,0,3,1.3,3,3c0,1.6-1.3,3-3,3c-1.6,0-3-1.3-3-3c0,0,0,0,0,0C15,16.4,16.4,15.1,18,15.1 C18,15.1,18,15.1,18,15.1'/%3E%3C/svg%3E");
}

.snsBtns .youTubeIC {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.9.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.1;fill:%23FFFFFF;enable-background:new ;%7D .st1%7Bfill:%23BBBBBB;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='18' cy='18' r='18'/%3E%3Cpath class='st1' d='M27.4,13.2c-0.2-0.8-0.9-1.5-1.7-1.7c-1.5-0.4-7.6-0.4-7.6-0.4s-6.1,0-7.6,0.4c-0.8,0.2-1.5,0.9-1.7,1.7 c-0.3,1.6-0.4,3.1-0.4,4.7c0,1.6,0.1,3.2,0.4,4.7c0.2,0.8,0.9,1.5,1.7,1.7c1.5,0.4,7.6,0.4,7.6,0.4s6.1,0,7.6-0.4 c0.8-0.2,1.5-0.9,1.7-1.7c0.3-1.6,0.4-3.1,0.4-4.7C27.8,16.4,27.6,14.8,27.4,13.2 M16,20.9V15l5.1,2.9L16,20.9z'/%3E%3C/svg%3E");
}

.snsBtns .faceBookIC {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.9.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.1;fill:%23FFFFFF;enable-background:new ;%7D .st1%7Bfill:%23BBBBBB;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='18' cy='18' r='18'/%3E%3Cpath class='st1' d='M22,19.1l0.5-3.2h-3.1v-2.1c-0.1-0.9,0.6-1.7,1.5-1.8c0.1,0,0.2,0,0.4,0h1.4V9.2C21.8,9.1,20.9,9,20.1,9 c-2.6,0-4.2,1.6-4.2,4.4v2.5H13v3.2h2.8v7.8h3.5v-7.8H22z'/%3E%3C/svg%3E");
}

.snsBtns .linkedInIC {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.9.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 36 36' style='enable-background:new 0 0 36 36;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.1;fill:%23FFFFFF;enable-background:new ;%7D .st1%7Bfill:%23BBBBBB;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='18' cy='18' r='18'/%3E%3Cpath class='st1' d='M11.3,24.5h3.1v-10h-3.1V24.5z M19.3,15.8v-1.3h-3v10h3v-5.2c0-1.4,0.6-2.2,1.9-2.2c1.1,0,1.7,0.8,1.7,2.2v5.2 H26v-6.3c0-2.7-1.5-4-3.6-4C21.1,14.2,20,14.8,19.3,15.8 M12.8,9.5c-1,0-1.8,0.8-1.9,1.8s0.8,1.8,1.8,1.9c1,0,1.8-0.8,1.9-1.8 c0,0,0,0,0,0C14.7,10.3,13.8,9.5,12.8,9.5C12.8,9.5,12.8,9.5,12.8,9.5z'/%3E%3C/svg%3E");
}


.footerTopBtn{
    position: fixed;
    bottom: 30px;
    right: 100px;
    z-index: 10;
}
.footerTopBtn.active{
    position: absolute;
    top: -30px;
    right: 100px;
    animation: opacity .5s ease;
}
.footerTopBtn .iconGoToTop{
    display: inline-block;
    width: 3.75rem;
    height: 3.75rem;
    background-image: url("data:image/svg+xml,%3Csvg data-name='go top' xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg data-name='타원 8890' style='stroke:%23111;stroke-width:2px;fill:none'%3E%3Ccircle cx='30' cy='30' r='30' style='stroke:none'/%3E%3Ccircle cx='30' cy='30' r='29' style='fill:none'/%3E%3C/g%3E%3Cg data-name='그룹 493539'%3E%3Cg data-name='ico_arrow_up_line - 24'%3E%3Cg data-name='그룹 493493'%3E%3Cpath data-name='패스 871477' d='M15 0H0' transform='rotate(-90 33.75 3.75)' style='stroke-linecap:round;stroke:%23111;stroke-width:2px;fill:none'/%3E%3Cpath data-name='패스 871478' d='M14 0 7 7 0 0' transform='rotate(-180 18.5 14.75)' style='stroke-linejoin:round;stroke-linecap:round;stroke:%23111;stroke-width:2px;fill:none'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
}







@media (min-width:1600px) and (max-width:1920px) {}

@media (min-width:1400px) and (max-width:1599px) {}

@media (max-width:1399px) {

    
    /* cell */
    .cell-visual { display: none; }

    .business_section .cell-visual { display: none; }

    .visual_section .visual_inner { width: 95vw; }
    .visual_section .section_header {
        padding-left: 20px;
        top: 50px;
        left: 0;
    }
    .section_header h2 { font-size: 32px; }
    .business_section .text { width: 100%; }

    .subsection_header {
        flex-direction: column-reverse;
        max-width: 760px;

    }

    .slider {
        --slide-width: max(26vh, 600px);
        margin-right: 0;
    }

    .business_section .inwrap {
        padding: 20px;
        flex-direction: column;
    }

    .subsection_header .title-wrap .subtitle {
        margin-top: 0px;
        font-size: 14px;
    }

    .slider .first-swiper {
        width: 100%;
        height: 600px;
    }

    .swiper_btn--wrapper {
        display: none;
    }

    .first-swiper .slide-link {
        padding: 30px;
    }

    .first-swiper .slide-link .description .text {
        font-size: 20px;
    }


    /* pd section */
    .products_section .inwrap {
        padding: 20px;
    }



    .products_section .right-content-swiper {
        width: 100%;
        margin: 0;
    }

    .pd_tab--list {
        justify-content: flex-start;
    }

    #pd_slider .left-swiper--btn {
        display: none;
    }

    .products_section .left-tab-swiper {
        display: none;
    }

    /* magazine */
    .magazine_section .sticky {
        padding: 160px 20px;
    }

    .magazine_section .card-item {
        gap: 20px;
        padding: 30px;
    }

    .magazine_section .card-item .card-link {
        flex-direction: column;
    }

    .card-img--block {
        width: 100%;
    }

    .card-text--block .card-tit {
        font-size: 22px;
    }

    .card-text--block .card-subtit {
        font-size: 15px;
        -webkit-line-clamp: 2;
    }

    /* news */
    .news_section .inwrap {
        padding: 20px;
    }

    .news_swiper--btn-wrapper {
        width: 130px;
    }

    .news_section .btn {
        width: 45px !important;
        height: 45px !important;
    }







    /* ///////////////// about page css ////////////////////////////////////// */


    .introduce_section .intro_inner{
        flex-direction: column;
    }

    .introduce_section .intro_inner .intro_text--block{
        justify-content: flex-start;
        margin-top: 100px;
    }
    .introduce_section .intro_inner{
        height: 100%;
    }
    .swiper_section .swiper_inner{
        padding: 20px;
    }



    .history_bar{
        left: 5%;
    }

    .year_ctn{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 13rem;
    }
    .year_ctn .year_txt{
        margin-left: 0rem;
    }
    .year_ctn .year_img{
        align-items: flex-start;
    }
    .year_ctn .year_img img{
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .year_ctn .year_txt .year_history li{
        padding: 20px 0;
        border-bottom: 1px solid #e8e8e8;
    }

    .year_ctn .year_img .year_tit{
        font-size: 5.75rem;
    }
    .year_ctn .year_txt .year_history li p{
        font-size: 18px;
    }
    











    /* footer */
    .footer {
        padding: 20px;
    }

    .footer .footer_inner {
        padding: 20px;
    }

    .footer .footer_inner .footer_top--block .menu {
        display: none;
    }

    .footer_bottom--block .footer_bottom--menu {
        flex-direction: column;
    }

    .footerTopBtn{
        display: none;
    }
}

@media (min-width:1024px) and (max-width:1399px) {
    .business_section .text {
        font-size: 18px;
    }

    .container .business_section .section_header .title {
        font-size: 100px;
    }
}

@media (max-width:1023px) {
    .business_section .text {
        font-size: 14px;
    }

    .container .business_section .section_header .title {
        font-size: 80px;
    }

}







@keyframes clip-path {
    0% {
        clip-path: circle(100%);
    }

    100% {
        clip-path: circle(0%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes pin-wave {
    0%{
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) scale(.1);
    }
    50%{opacity: .1;}
    100%{
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) scale(1);
    }
}